doctype html
html(lang="en" data-theme="dark")
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.min.js" defer></script>
  include ../head.pug
  body#dashboard
    main(class="container-fluid" x-data="dashboard" x-init="startGraph()")
      h1.center(@click="debugModeCount++") 100 burpees challenge
      div(x-show="hasChallengeFinished()")
        h4.center Challenge has ended.
        h5.center Some stats for you:
        div(x-data="{stats: analytics.totalStats()}")
          section
            div(class="double-column")
              div.right
                strong Expected burpees:
              div
                strong(x-text="stats.totalExpected")
            div(class="double-column")
              div.right
                strong You did:
              div
                strong(x-text="stats.totalBurpees") 
                strong(x-text="` (${stats.percentageDone}%)`")
          section.center
            div
              div(x-show="stats.level === 'SUPER'")
                h1 Amazing!
              div(x-show="stats.level === 'NOT_BAD'")
                h1 Well done!
              div(x-show="stats.level === 'COUCH'")
                h1 Better than a couch potato!
              div(x-show="stats.level === 'GAME_OVER'")
                h1 You always have next year!
            section
              span.massive(x-html="getStatsIcon(stats.level)")

      div(x-show="isChallengePendingToStart()")
        h4.center Come back 1th of January!
      div(x-show="isChallengeActive()")
        section
          canvas#myChart
        div(class="double-column center")
          div
            hgroup
              h4 Today
              h5 you did:
            h1(x-text="analytics.todayStats().sumCount")
          div(x-show="analytics.todayStats().expectedBurpees > 0")
            hgroup
              h4 You are
              h5 behind by:
            h1(x-text="analytics.todayStats().expectedBurpees")
          div(x-show="analytics.todayStats().expectedBurpees < 0")
            hgroup
              h4 Surplus of:
              h5(x-text="analytics.todayStats().expectedBurpees * -1")
            h1(x-html="todaySuccessEmoticon()")
          div(x-show="analytics.todayStats().expectedBurpees === 0")
            hgroup
              h4 All Catch-up
              h5 well done!
            h1(x-html="todaySuccessEmoticon()")
        section
          div(class="double-column")
            div
              button(@click="addEntryLogCount(10)" href="#") Add + 10 burpees
              button(@click="addEntryLogCount(25)" href="#") Add + 25 burpees
            div
              button(@click="addEntryLogCount(15)" href="#") Add + 15 burpees
              button(@click="addEntryLogCount(30)" href="#") Add + 30 burpees
          
          button.secondary(@click="window.location = 'entry-log-create.html'") Add a custom entry 
          button.secondary(@click="window.location = 'entry-logs.html'") See all entries
        