head
  meta(charset="UTF-8")
  title 100 Burpees Challenge
  link(rel="stylesheet" href="//unpkg.com/@picocss/pico@latest/css/pico.min.css")
  link(rel="stylesheet" href="style.css")
  script(src="//unpkg.com/alpinejs@3.10.5/dist/cdn.min.js" defer)
  script(src="index.js")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  