.svg-container {
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}

.dark-theme {
  background-color: #000;
}
.dark-theme h3 {
  color: #9d9d9d;
}
