.center {
  text-align: center;
}
.right {
  text-align: right;
}
#entryLogs .entryLog {
  padding: calc(var(--spacing) * 0.5);
}
#entryLogs .time {
  margin-right: calc(var(--spacing) * 0.5);
}
#entryLogs .count {
  color: var(--contrast);
}
.double-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--spacing) * 0.5);
  grid-row-gap: 0px;
}
.massive {
  font-size: 100px;
}

#dashboard main {
  max-width: 480px;
}
